name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: update readme
      run: node script.js
    - name: Commit files
      run: |
        git config --local user.email "timqian@t9t.io"
        git config --local user.name "timqian"
        git commit -m "update readme from action" -a
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
